<! Make sure methods start with a capital letter -->
<module name="MethodName">
   <property name="format" value="^[A-Z].*" />
</module>

<! -- Make sure constant names are in all caps -->
<module name="ConstantName">
   <property name="format" value="^[A-Z]*" />
</module>

<! -- Non-static fields start with a lowercase letter -->
<module name="MemberName">
   <property name="format" value="^[a-z].*" />
</module>
